# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

db.sqlite3
db.sqlite3-journal
**__pycache__/*
core/__pycache__/
.idea
.vscode
erp_env
.pytest_cache
.coverage
.coverage.*
.cache
.mypy_cache
.env.dev
/data
**/__pycache__/*
organization/__pycache__/
common/__pycache__/
accounts/__pycache__/**
organization/migrations/__pycache__/
organization/__pycache__/models.cpython-39.pyc
accounts/migrations/__pycache__/**
common/migrations/__pycache__/**
debug.log
uploads/
env.py
