# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

backend/db.sqlite3
backend/db.sqlite3-journal
backend/venv
backend/myvenv
**__pycache__/*
backend/core/__pycache__/
backend/.idea
backend/.vscode
backend/.pytest_cache
backend/.coverage
backend/.coverage.*
backend/.cache
backend/.mypy_cache
backend/.pytest_cache
backend/myvenv
.env.dev
/data
**/__pycache__/*
backend/organization/__pycache__/
backend/core/__pycache__/
backend/common/__pycache__/
backend/accounts/__pycache__/**
backend/organization/migrations/__pycache__/
backend/organization/__pycache__/
backend/organization/__pycache__/models.cpython-39.pyc
backend/accounts/migrations/__pycache__/**
backend/common/migrations/__pycache__/**
backend/common/migrations/__pycache__/**
debug.log
backend/debug.log
backend/uploads/
backend/env.py